<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>H5_PROJECT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E4188801F398EAB00E1C9D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4188991F398EAB00E1C9D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4188A41F398EAB00E1C9D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
